//#nprogress .bar {
//  background: var(--primary-color) !important;
//}
//
//#nprogress .spinner-icon {
//  border-top-color: var(--primary-color) !important;
//  border-left-color: var(--primary-color) !important;
//}
//
//#nprogress .peg {
//  box-shadow: 0 0 10px var(--primary-color),
//  0 0 5px var(--primary-color) !important;
//}


::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  border: 2px solid transparent;
  background-clip: content-box;
  background-color: #ededed;
}
