// stripe class of table
[data-theme='light'] .super-table :deep(.row-stripe) td {
  background-color: #fafafa;
}

[data-theme='dark'] .super-table :deep(.row-stripe) td {
  background-color: rgb(29, 29, 29);
}

// class of table
.super-table {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

// form area of table
.super-table__form {
  display: flex;
  margin-bottom: 10px;

  .ant-form {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

    .ant-form-item {
      width: 400px;
      height: 60px;
      margin-bottom: 0;
      padding-top: 14px;

      .ant-picker {
        width: 100%;
      }
    }
  }

  &-submit {
    padding: 0 12px;
    height: 60px;
    display: flex;
    align-items: center;
    user-select: none;
  }
}

// util area of table
.super-table__util {
  width: 100%;
  height: 56px;
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

// table area of table
.super-table__table {
  flex: auto;

  :deep(.ant-table-body) {
    transition: height 200ms;
  }

  :deep(.ant-pagination) {
    padding-right: 12px;
  }
}
