// stripe class of table
[data-theme='light'] .super-table :deep(.row-stripe) td {
  background-color: #fafafa;
}

[data-theme='dark'] .super-table :deep(.row-stripe) td {
  background-color: rgb(29, 29, 29);
}

// class of table
.super-table {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__form {
  }

  &__util {
    display: flex;
    justify-content: space-between;
  }

  &__table {
    flex: 1;
  }
}
